{% extends "base.html" %}

{% block page_title %}
    Detail
{% endblock page_title %}

{% block contents %}
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">NIK: {{ object.nik }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Nama: {{ object.nama }}</h5>
                        <p class="card-text">Tempat dan Tanggal Lahir: {{ object.tempat_lahir }}, {{ object.tanggal_lahir }}</p>
                        <p class="card-text">Jenis Kelamin: {{ object.jenis_kelamin }} Golongan Darah: {{ object.golongan_darah }}</p>
                        <p class="card-text">Alamat: {{ object.alamat }} RT: {{ object.rt }} RW: {{ object.rw }} Kecamatan: {{ object.kecamatan }}</p>
                        <p class="card-text">Agama: {{ object.agama }} Status Perkawinan: {{ object.status_perkawinan }}</p>
                        <p class="card-text">Pekerjaan:{{ object.pekerjaan }} Kewarganegaraan: {{ object.kewarganegaraan }}</p>
                        <p class="card-text">Masa Berlaku: {{ object.masa_berlaku }}</p>
                    </div>
                    <a class="btn btn-danger" href="{% url 'warga:list_ktp'%}" title="Kembali">Kembali</a>
                    </div>
            </div>
        <div class="col-md-4"></div>
    </div>

{% endblock contents %}
