{% extends "base.html" %}

{% block page_title %}
    List KK
{% endblock page_title %}

{% block contents %}

<!--{% if messages %}-->
  <!--<ul class="messages">-->
    <!--{% for message in messages %}-->
      <!--<li class="{{ message.tags }}">{{ message }}</li>-->
    <!--{% endfor %}-->
  <!--</ul>-->
<!--{% endif %}-->

{% for message in messages %}
  <div class="alert {{ message.tags }} alert-success" role="alert">
      <p class="text-center">{{ message }}</p>
  </div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <form action="{% url 'warga:list_kk' %}" method="get">
            <input class="form-control" name="k" type="text" placeholder="Search...">
        </form>
    </div>
</div>

    <div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table align="center" class="table mt-2">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="align-middle">Nomor</th>
                    <th scope="col" class="align-middle">Nomor KK</th>
                    <th scope="col" class="align-middle">Kepala Keluarga</th>
                    <th scope="col" class="align-middle">Alamat</th>
                    <th scope="col" class="align-middle">RT</th>
                    <th scope="col" class="align-middle">RW</th>
                    <th><a class="btn btn-outline-primary align-right" href="{% url 'warga:create_kk' %}" title="">Tambah</a></th>
                </tr>
                </thead>
                <tbody>
                {% for kk in kk_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="{% url 'warga:detail_kk' kk.pk %}">{{ kk.nomor_kk }}</a></td>
                        <td>{{ kk.nik }}</td>
                        <td>{{ kk.alamat }}</td>
                        <td>{{ kk.get_rt_display }}</td>
                        <td>{{ kk.rw }}</td>
                        <td><a class="btn btn-outline-warning" href="{% url 'warga:update_kk' kk.id %}" title="">Update</a>
                            <a class="btn btn-outline-danger" href="{% url 'warga:delete_kk' kk.id %}" title="">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contents %}

<!--<a href="{% url 'warga:detail_kk' kk.pk %}">-->