<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	{% include "snippets/styles.html" %}
</head>
<body>
    <form method="POST">
		{% csrf_token %}
		<label for="username">Username: </label>
		<input type="text" name="username" id="username" class="form-control">
		<br>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password" class="form-control">
		<br>
		<button type="submit">Login</button>
	</form>
</body>
</html>