{% extends "base.html" %}

{% block page_title %}
    Tambah Surat Pengantar
{% endblock page_title %}


{% block contents %}
    <h1>Tambah Surat Pengantar</h1>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form.nik.label_tag }}
                        {{ form.nik }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.tujuan_surat.label_tag }}
                        {{ form.tujuan_surat }}
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.atas_nama.label_tag }}
                        {{ form.atas_nama }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"></div>
                    {{ form.scan_surat.label_tag }}
                    {{ form.scan_surat }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"></div>
                    {{ form.is_ready.label_tag }}
                    {{ form.is_ready }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-danger" href="{% url 'suratpengantar:list_surat'%}" title="Kembali">Kembali</a>
                </div>
            </div>
            <br>
        </form>
    </div>
{% endblock contents %}